<div class="container" ng-controller="ListCtrl as ctrl">

    <div class="page-header">
        <h1>Grocery Management System <small>List</small>
        </h1>

    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString" class="form-control" size="50" type="text" name="searchString" ng-model="ctrl.searchString" placeholder="Enter the brand or product name ex:Riceland or Ahold etc.">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>
    <hr>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>UPC Number</th>
                <th>
                    <!--sorting alphabetically by brand name -->
                    <a href="#" ng-click="sortBy('name')">Brand</a>
                    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <!--sorting alphabetically by product name -->
                    <a href="#" ng-click="sortBy('name')">Product Name</a>
                    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>Barcode</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in ctrl.groceryList | orderBy:propertyName:reverse">
                <td>{{item.upc12 }}</td>
                <td>{{item.brand}}</td>
                <td>{{item.name}}</td>
                <td>
                    <img src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1" alt="barcode">
                </td>
                <td><button type="button" class="btn btn-default" ng-click="ctrl.getItem(item.id)">
                Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>