<div class="container" ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Management System
            <small>Edit</small>
        </h1>
    </div>
    <br/>
    <!--getting requested ID-->
    <h1>Edit Item-Id : {{ctrl.product}}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <form name="saveForm" ng-submit="ctrl.save();">
                <div class="form-group">
                    <label for="upc12">UPC :</label>
                    <input class="form-control" type="text" id="upc12" name="upc12" ng-model="ctrl.item.upc12" required ng-pattern="/^[0-9]*$/">
                    <div class="validation" data-ng-show="saveForm.upc12.$touched || saveForm.$submitted">
                        <div data-ng-show="saveForm.upc12.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> UPC is empty.
                        </div>
                        <div data-ng-show="saveForm.upc12.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Only numbers allowed.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <input class="form-control" type="text" id="brand" name="brand" ng-model="ctrl.item.brand" required>
                    <div class="validation" data-ng-show="saveForm.brand.$touched || saveForm.$submitted">
                        <div data-ng-show="saveForm.brand.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Brand name is empty.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productname">Product Name:</label>
                    <input class="form-control" type="text" id="productname" name="productname" ng-model="ctrl.item.name" required>
                    <div class="validation" data-ng-show="saveForm.productname.$touched || saveForm.$submitted">
                        <div data-ng-show="saveForm.productname.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Product name is empty.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
            </form>
        </div>
    </div>
</div>